.navbar{
    display: flex;
    justify-content:space-evenly ;
    background-color: darkblue;
    align-items: center;
}
.navbar ul{
    margin: 0px;
    display: flex;
    list-style: none;
    color: aliceblue;
}
.active{
    color: blue;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list h1{
    color: aliceblue;
    align-items: center;
    margin-left: 300px;
}
.list ul li{
    margin-right: 100px;

}
.h1-color{
    color: blue;
}
.services{
    width: 100%;
    height:auto
}
.first-services{
    height: 300px;
    width: 330px;
    background-color: blue;
    color: aliceblue;
}
.projects{
    height: 300px;
    width: 330px;
    background-color: blue;
    color: aliceblue;
}
.clients{
    height: 300px;
    width: 330px;
    background-color: blue;
    color: aliceblue;
}
.threeblocks{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.wrench{
    height: 20px;
    width: 20px;
}

.testimonial{
    vertical-align: middle;
    height: 100px;
    width: 300px;
    background-color: cornflowerblue;
    align-items:baseline   
}

.third-batch{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.paragraph{
    height: 300px;
    width: 330px;
}
.nav2{
    background-color: aquamarine;
    color: blue;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: auto;
}